/* Fade Animation Start */
@mixin fade-in {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 2s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
/* Fade Animation End */

/* Colors Start */
:root {
    --bg-color: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 1) 100%);
    --nav-color: #fff;
    --side-nav: #fff;
    --text-color: #000;
    --about-text-color: #000;
    --about-bg-color: #fff;
    --services-text-color: #000;
    --services-bg-color: #fff;
    --projects-text-color: #000;
    --projects-bg-color: #fff;
    --hero-text-color: #fff;
    --contact-text-color: #000;
    --contact-bg-color: #fff;
}

body.dark {
    --bg-color: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 1) 100%);
    --nav-color: #000;
    --side-nav: #000;
    --text-color: #fff;
    --primary-color: #000;
    --about-text-color: #fff;
    --about-bg-color: #000;
    --services-text-color: #fff;
    --services-bg-color: #000;
    --projects-text-color: #fff;
    --projects-bg-color: #000;
    --hero-text-color: #000;
    --contact-text-color: #fff;
    --contact-bg-color: #000;
}
/* Colors End */

/* Navigation Bar Start */
nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: var(--nav-color);
    z-index: 1000;
}

nav .nav-bar {
    position: relative;
    height: 100%;
    max-width: 1000px;
    width: 100%;
    background-color: var(--nav-color);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-bar .sidebarOpen {
    color: var(--text-color);
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;
}

nav .nav-bar .logo a {
    font-size: 25px;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
}

nav .nav-bar .logo a:hover {    
    color: rgb(128, 128, 128);
}

.menu .logo-toggle {
    display: none;
}

.nav-bar .nav-links {
    display: flex;
    align-items: center;
}

.nav-bar .nav-links li {
    margin: 0 5px;
    list-style: none;
}

.nav-links li a {
    position: relative;
    font-size: 17px;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
}

.nav-links li a {
    position: relative;
    font-size: 17px;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
}

.nav-links li a::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: var(--text-color);
    opacity: 0;
    transition: all 0.3s ease;
}

.nav-links li a.active::before {
    opacity: 1;
    background-color: var(--text-color);
}

.nav-links li a.active {
    color: var(--text-color);
}

.nav-links li:hover a::before {
    opacity: 1;
}

.nav-bar .darkLight-language {
    display: flex;
    align-items: center;
}

.darkLight-language .dark-light {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}

.dark-light i {
    position: absolute;
    color: var(--text-color);
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.darkLight-language .language {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}

.language i {
    position: absolute;
    color: var(--text-color);
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.language-dropdown {
    position: absolute;
    top: 50px;
    right: 10px;
    background-color: var(--nav-color);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 5px;
    z-index: 999;
}

.language i:hover {
    color: rgb(128, 128, 128);
}

.language-dropdown button {
    background: none;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    color: var(--text-color);
    text-align: left;
}

.language-dropdown button:hover {
    background-color: rgba(128, 128, 128, 0.5);
}

.hidden {
    display: none;
}

.dark-light i.sun {
    opacity: 0;
    pointer-events: none;
}

.dark-light i.sun:hover {
    color: rgb(128, 128, 128);
}

.dark-light.active i.sun {
    opacity: 1;
    pointer-events: auto;
}

.dark-light.active i.moon {
    opacity: 0;
    pointer-events: none;
}

.dark-light i.moon:hover {
    color: rgb(128, 128, 128);
}

@media (max-width: 790px) {
    nav .nav-bar .sidebarOpen {
        display: block;
    }

    .menu {
        position: fixed;
        height: 100%;
        width: 220px;
        left: -100%;
        top: 0;
        padding: 20px;
        background-color: var(--side-nav);
        z-index: 100;
        transition: all 0.4s ease;
    }

    nav.active .menu {
        left: -0%;
    }

    nav.active .nav-bar .navLogo a {
        opacity: 0;
        transition: all 0.3s ease;
    }


    .menu .logo-toggle {
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo-toggle .sidebarClose {
        color: var(--text-color);
        font-size: 24px;
        cursor: pointer;
    }

    .nav-bar .nav-links {
        flex-direction: column;
        padding-top: 30px;
    }

    .nav-links li a {
        display: block;
        margin-top: 20px;
    }
}
/* Navigation Bar End */

/* Home Page Start */
.hero {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    animation: fadeInOpacity 1s;
}

.image img {
    border-radius: 50%;
    border: 3px solid var(--hero-text-color);
    margin-bottom: 10px;
    box-shadow: rgb(128, 128, 128) 0px 5px 15px;
    animation: fadeInOpacity 1s;
}

.hero h1 {
    margin-bottom: 5px;
}

.hero p {
    margin-bottom: 10px;
}

.hero h1,
.hero p {
    color: var(--hero-text-color);
    text-shadow: 2px 2px 10px rgb(128, 128, 128);
}

@media (max-width: 790px) {
    .hero {
        scale: 90%;
    }
}
/* Home Page End */

/* About Start */
.about {
    display: flex;
    max-width: 790px;
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
    flex-direction: column;
    text-align: center;
    background-color: var(--about-bg-color);
    box-shadow: var(--about-bg-color) 0px 8px 24px;
    animation: fadeInOpacity 1s;
}

.about h1,
.about p {
    color: var(--about-text-color);
    margin-bottom: 15px;
}

@media (max-width: 790px) {
    .about {
        margin-top: 80px;
        scale: 90%;
    }
}
/* About End */

/* Services Start */
.services {
    display: flex;
    max-width: 790px;
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
    flex-direction: column;
    text-align: center;
    background-color: var(--services-bg-color);
    box-shadow: var(--services-bg-color) 0px 8px 24px;
    animation: fadeInOpacity 1s;
}

.services h1,
.services p {
    color: var(--services-text-color);
    margin-bottom: 15px;
}

@media (max-width: 790px) {
    .services {
        margin-top: 80px;
        scale: 90%;
    }
}
/* Services End */

/* Projects Start */
.projects {
    display: flex;
    max-width: 790px;
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
    flex-direction: column;
    text-align: center;
    background-color: var(--projects-bg-color);
    box-shadow: var(--projects-bg-color) 0px 8px 24px;
    animation: fadeInOpacity 1s;
}

.projects h1,
.projects p {
    color: var(--projects-text-color);
    margin-bottom: 15px;
}

.projects a {
    color: var(--projects-text-color);
}

.projects a:hover {
    color: rgb(128, 128, 128);
    transition: 0.3s ease;
}

@media (max-width: 790px) {
    .projects {
        margin-top: 80px;
        scale: 90%;
    }
}
/* Projects End */

/* Contact Start */
.contact {
    display: flex;
    max-width: 790px;
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
    flex-direction: column;
    text-align: center;
    background-color: var(--contact-bg-color);
    box-shadow: var(--contact-bg-color) 0px 8px 24px;
    animation: fadeInOpacity 1s;
}

.contact h1,
.contact p {
    color: var(--contact-text-color);
    margin-bottom: 15px;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.links li {
    text-decoration: none;
    list-style: none;
}

.links li a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 50px;
    border: 2px solid var(--contact-text-color);
    border-radius: 50%;
    text-decoration: none;
}

.links li a i {
    color: var(--contact-text-color);
    font-size: 20px;
}

.links li a i:hover {
    color: rgb(128, 128, 128);
    border-color: rgb(128, 128, 128);
    font-size: 23px;
    transition: 0.3s ease;
}

@media (max-width: 790px) {
    .contact {
        margin-top: 80px;
        scale: 90%;
    }
}
/* Contact End */